*.pyd*
*.pyc
*~
*tmp
*.so
*.o
*.pstats

__pythran__

\#*\#

.vscode

ipynb/*.slides.html

*/.ipynb_checkpoints/*

**/*.egg-info/

ipynb/index.html

snippet/cffi/V5_cython/*.c
snippet/cffi/V5_cython/*.html