*.pyd*
*.pyc
*~
**/tmp
*.so
*.o
*.pstats

__pythran__

\#*\#

.vscode

ipynb/*.slides.html
ipynb/index.rst
*/.ipynb_checkpoints/*

**/*.egg-info/

ipynb/index.html

snippet/dtw_cort_dist/V5_cython/*.c
snippet/dtw_cort_dist/V5_cython/*.html