*.pyd*
*.pyc
*~
**/tmp
*.so
*.o
*.pstats
*.mod

_build
build
__pycache__
__pythran__

\#*\#

.vscode

ipynb/*.slides.html
ipynb/index.rst
*/.ipynb_checkpoints/*

**/*.egg-info/

ipynb/index.html

pyfiles/dtw_cort_dist/V5_cython/*.c
pyfiles/dtw_cort_dist/V5_cython/*.html
**/V*/res_cort.npy
**/V*/res_dtw.npy