# to be used with:
# conda install --file requirements.txt
# utilities
python==3.7
ipython
spyder
jupyter
invoke
# base numerics
numpy
scipy
matplotlib
pandas
h5py
# wrapper
cffi
# accelerators
cython
numba
pythran
xsimd
transonic
# parallel
mpi4py
dask
joblib