astunparse==1.6.2
beniget==0.1.0
cffi==1.12.3
Cython==0.29.10
decorator==4.4.0
docutils-stubs==0.0.10
-e git+https://gricad-gitlab.univ-grenoble-alpes.fr/python-uga/training-hpc.git@fa9d7e7c22b54d54cd17890c58f01821e9b3d321#egg=dtw_cort_dist_mat&subdirectory=pyfiles/dtw_cort_dist/V2_c_dtw
gast==0.2.2
invoke==1.2.0
llvmlite==0.29.0
mpi4py==3.0.1
networkx==2.3
numba==0.44.0
numpy==1.16.4
parsimonious==0.7.0
pkg-resources==0.0.0
ply==3.11
pycparser==2.19
pythran==0.9.2
six==1.12.0
transonic==0.2.2
